In [ ]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd


try:
    source = requests.get('https://en.wikipedia.org/wiki/List_of_largest_manufacturing_companies_by_revenue')
    source.raise_for_status()

    soup = BeautifulSoup(source.text,'html')

    print(soup)

except Exception as error:
    print(error)

In [14]:
table = soup.find_all('table')[0]

In [15]:
world_titles = table.find_all('th')

world_table_titles = [title.text.strip() for title in world_titles]

world_table_titles

['No.', 'Company', 'Industry', 'Revenue (by US$ billion)', 'Headquarters']

In [16]:
df2021 = pd.DataFrame(columns= world_table_titles)
df2021

Empty DataFrame
Columns: [No., Company, Industry, Revenue (by US$ billion), Headquarters]
Index: []

In [17]:
column_data = table.find_all('tr')

for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df2021)
    df2021.loc[length] = individual_row_data

In [18]:
df2021.to_excel('Companies2021.xlsx')
df2021

,No.,Company,Industry,Revenue (by US$ billion),Headquarters
0,1,Apple,"Electronics, telecommunications equipment",274.515,United States
1,2,Toyota Group,"Engineering, various",256.721,Japan
2,3,Volkswagen Group,Automotive,253.965,Germany
3,4,Samsung Electronics,"Electronics, various",200.734,South Korea
4,5,Foxconn,Electronics,181.945,Taiwan
5,6,Mercedes-Benz Group,Automotive,175.827,Germany
6,7,Cardinal Health,Pharmaceuticals,152.922,United States
7,8,China Railway and Engineering Group,Engineering,141.383,China
8,9,Huawei,"Telecommunications equipment, Electronics",129.183,China
9,10,Ford,Automotive,127.144,United States
10,11,Honda,Automotive,124.240,Japan
11,12,General Motors,Automotive,122.485,United States
12,13,Mitsubishi,"Engineering, various",121.542,Japan
13,14,BMW,Automotive,112.794,Germany
14,15,SAIC Motor,Automotive,107.555,China
15,16,China Minmetals,Metals,102.014,China
16,17,FAW Group,Automotive,101.075,China
17,18,Hengli Group,Textiles,100.773,China
18,19,China Baowu Steel Group,Steel,97.643,China
19,20,Dell,Electronics,94.224,United States
20,21,Nestle,Food & Beverages,89.852,Switzerland\n/\nÂ United States
21,22,Hyundai Motor Company,Automotive,88.155,South Korea
22,23,Dongfeng Motor Group,Automotive,86.85,China
23,24,Sony,Electronics,84.893,Japan
24,25,Johnson & Johnson,Personal care products,82.344,United States
25,26,Hitachi,"Engineering, various",82.334,Japan
26,27,Bosch,"Engineering, various",81.463,Germany
27,28,General Electric,"Engineering, various",79.619,United States
28,29,Intel,Electronics,77.867,United States
29,30,Sinopharm,Pharmaceuticals,77.278,China
30,31,Nissan,Automotive,74.169,Japan
31,32,Enel,Renewable energy,74.047,Italy
32,33,IBM,"Engineering, various",73.620,United States
33,34,Beijing Automotive Group,Automotive,72.147,China
34,35,Procter & Gamble,Consumer goods,70.950,United States
35,36,PepsiCo,Food & Beverages,70.387,United States
36,37,BASF,Chemicals,69.464,Germany
37,38,Aviation Industry Corporation of China,Aerospace & Defense,66.964,China
38,39,Lockheed Martin,Aerospace & Defense,65.398,United States
39,40,Hoffmann-La Roche,Pharmaceuticals,64.285,Switzerland
40,41,Siemens,"Engineering, various",63.935,Germany
41,42,Sinochem,Chemicals,63.544,China
42,43,Panasonic,"Engineering, various",63.191,Japan
43,44,Lenovo,Electronics,60.742,China\n/\nÂ United States
44,45,ChemChina,Chemicals,60.491,China
45,46,Boeing,Aerospace & Defense,58.158,United States
46,47,Unilever,Consumer goods,57.797,United Kingdom
47,48,Airbus,Aerospace & Defense,56.872,France
48,49,Hewlett-Packard,Electronics,56.639,United States
49,50,Raytheon Technologies,"Engineering, various",56.587,United States

In [19]:
table = soup.find_all('table')[1]
world_titles = table.find_all('th')

world_table_titles = [title.text.strip() for title in world_titles]

world_table_titles

df2020 = pd.DataFrame(columns= world_table_titles)
df2020

Empty DataFrame
Columns: [No., Company, Industry, Revenue (by US$ billion), Headquarters]
Index: []

In [20]:
column_data = table.find_all('tr')

for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df2020)
    df2020.loc[length] = individual_row_data

In [21]:
df2020.to_excel('Companies2020.xlsx')
df2020

,No.,Company,Industry,Revenue (by US$ billion),Headquarters
0,1,Volkswagen Group,Automotive,282.7,Germany
1,2,Toyota Group,"Engineering, various",265.172*,Japan
2,3,Apple,"Electronics, telecommunications equipment",260.174,United States
3,4,Samsung Electronics,"Electronics, various",197.705,South Korea
4,5,Daimler,Automotive,193.346,Germany
...,...,...,...,...,...
95,96,Oracle Corporation,Electronics,37.728,United States
96,97,Tata Motors,Automotive,37.242,India
97,98,Honeywell,"Engineering, various",36.709,United States
98,99,Fujitsu,Electronics,35.483,Japan
99,100,China South Industries Group,"Automotive, Electronics",29.063,China

In [37]:
import pypyodbc
SERVER_NAME = 'DESKTOP-K4HURDS\SQLEXPRESS01'
DATABASE_NAME = 'Projects'

In [38]:
conn = pypyodbc.connect(f"DRIVER={{SQL Server}};SERVER={SERVER_NAME};DATABASE={DATABASE_NAME};Trusted_Connection=yes;")

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE Companies2021 (
        [No.] int primary key,
        Company varchar(225),
        Industry varchar(225),
        [Revenue (by US$ billion)] int,
        Headquarters varchar(225)
    )
''')
conn.commit()

cursor.close()
conn.close()

In [41]:
import pypyodbc
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

SERVER_NAME = 'DESKTOP-K4HURDS\SQLEXPRESS01'
DATABASE_NAME = 'Projects'


Table_name = 'Companies2021'

connection_string = f"""
    DRIVER={{SQL Server}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trusted_Connection=yes;
"""

## Try-Except statement in case there is an error connecting to the database
try:
    connection_url = URL.create('mssql+pyodbc', query={'odbc_connect': connection_string})
    engine = create_engine(connection_url, module=pypyodbc)

except pypyodbc.Error as db_error:
    print("Database connection error:", db_error)


## Try-Except statement in case there is an error with the file
try:
    Companies2021CSV = pd.read_excel(r'C:\Users\nbwan\Python\Companies2021.xlsx', sheet_name='Sheet1')
except FileNotFoundError:
    print("File not found:", r'c:\Users\nbwan\Python\Companies2021.xlsx')
    
except PermissionError:
    print("Permission error for:", r'c:\Users\nbwan\Python\Companies2021.xlsx')


Companies2021CSV.to_sql(Table_name,engine, if_exists='replace', index=False)

50

In [42]:
conn = pypyodbc.connect(f"DRIVER={{SQL Server}};SERVER={SERVER_NAME};DATABASE={DATABASE_NAME};Trusted_Connection=yes;")

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE Companies2020 (
        [No.] int primary key,
        Company varchar(225),
        Industry varchar(225),
        [Revenue (by US$ billion)] int,
        Headquarters varchar(225)
    )
''')
conn.commit()

cursor.close()
conn.close()

In [44]:
import pypyodbc
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

SERVER_NAME = 'DESKTOP-K4HURDS\SQLEXPRESS01'
DATABASE_NAME = 'Projects'


Table_name = 'Companies2020'

connection_string = f"""
    DRIVER={{SQL Server}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trusted_Connection=yes;
"""

## Try-Except statement in case there is an error connecting to the database
try:
    connection_url = URL.create('mssql+pyodbc', query={'odbc_connect': connection_string})
    engine = create_engine(connection_url, module=pypyodbc)

except pypyodbc.Error as db_error:
    print("Database connection error:", db_error)


## Try-Except statement in case there is an error with the file
try:
    Companies2020CSV = pd.read_excel(r'C:\Users\nbwan\Python\Companies2020.xlsx', sheet_name='Sheet1')
except FileNotFoundError:
    print("File not found:", r'C:\Users\nbwan\Python\Companies2020.xlsx')
    
except PermissionError:
    print("Permission error for:", r'C:\Users\nbwan\Python\Companies2020.xlsx')


Companies2020CSV.to_sql(Table_name,engine, if_exists='replace', index=False)

100